/*Fonts*/
.mainFont {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.fontInput {
  font-weight: 300;
  line-height: 36px;
  font-size: 24px;
  color: #ffffff;
}

.fontFooter {
  font-weight: normal;
  line-height: normal;
  font-size: 12px;

  color: rgba(255, 255, 255, 0.4);
}

.fontHistory {
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;

  color: rgba(0, 0, 0, 0.8);

  border-radius: 8px;
  text-decoration: none;
}

.fontSearchResultTitle {
  font-weight: 900;
  line-height: 48px;
  font-size: 36px;

  color: #ffffff;
}

.fontRate {
  font-weight: normal;
  line-height: 36px;
  font-size: 24px;

  color: #ffffff;
}

.fontItemName {
  font-weight: bold;
  line-height: 36px;
  font-size: 24px;

  color: #ffffff;
}

.fontGenreYear {
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;

  color: rgba(255, 255, 255, 0.4);
}

/*Screen-width dependent components*/
@media (min-width: 768px) {
  .main__searchHistoryContainer {
    width: 628px;
  }

  .main__searchResultContainer {
    width: 628px;
  }

  .main__searchContainer {
    width: 628px;
  }
}

@media (min-width: 960px) {
  .main__searchHistoryContainer {
    width: 960px;
  }

  .main__searchResultContainer {
    width: 960px;
  }

  .main__searchContainer {
    width: 960px;
  }
}

@media (min-width: 1280px) {
  .main__searchHistoryContainer {
    width: 1280px;
  }

  .main__searchResultContainer {
    width: 1280px;
  }

  .main__searchContainer {
    width: 1280px;
  }
}

/*State-independent components*/
.globalWrapper {
  min-height: 100vh;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
  flex: 0 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1 0 auto;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 16px;
  flex: 0 0 auto;
}

.header__logo {
  width: 148px;
  height: 28px;
}

.searchForm_lensIcon {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.searchForm_inputField {
  border: 0;
  padding: 0;
  margin-left: 8px;
  background-color: inherit;
  width: 446px;
  height: 36px;
  flex: 1 0 auto;
  outline: none;
}

.searchForm__crossSymbolContainer {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.crossSymbolContainer_crossSymbol {
  height: 44px;
  width: 27px;
  opacity: 0.4;
  flex: 0 0 auto;
}

.crossSymbolContainer_crossSymbol:hover {
  height: 44px;
  width: 27px;
  opacity: 1;
}

.crossSymbolContainer_crossSymbol:before,
.crossSymbolContainer_crossSymbol:after {
  position: absolute;
  left: 22px;
  content: ' ';
  height: 38px;
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: #ffffff;
  border-radius: 4px;
}

.crossSymbolContainer_crossSymbol:before {
  transform: rotate(45deg);
}

.crossSymbolContainer_crossSymbol:after {
  transform: rotate(-45deg);
}

.main__searchHistoryContainer {
  padding-top: 24px;
  /*width: 1280px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.searchHistoryContainer_item {
  width: fit-content;
  height: fit-content;
  padding: 6px 16px;
  margin: 0 8px 8px 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchHistoryContainer_item:hover {
  background: #ffffff;
}

.main__searchResultContainer {
  /*width: 1280px;*/
}

.searchResultContainer_resultTitlePositive,
.searchResultContainer_resultTitleNegative {
  padding-top: 90px;
}

.searchResultContainer__resultContent {
  padding-top: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -24px;
  justify-content: start;
}

.resultContent_item {
  width: 302px;
  height: 454px;
  border-radius: 12px;
  margin: 0 24px 24px 0;
}

.resultContent_item_link {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 12px;
  z-index: 3;
}

.item_itemPoster {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 2;
  border-radius: 12px;
  overflow: hidden;
}

.resultContent_item__attributeContainer {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: revert;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.attributeContainer_genreAndYear {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 16px 20px 20px 20px;
}

.attributeContainer_itemName {
  display: flex;
  width: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin: 4px 24px 0 20px;
}

.attributeContainer_rate {
  display: flex;
  width: fit-content;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin-left: 20px;
}

.rate_rateIcon {
  height: fit-content;
  margin-right: 5px;
}

.crossSymbolContainer_crossSymbol:hover,
.searchHistoryContainer_item:hover,
.resultContent_item:hover {
  cursor: url('../img/icons/cursor_custom.png'), pointer;
}

/* spinner */
.overlay-loader {
  display: block;
  margin: auto;
  width: 85px;
  height: 85px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 85px;
  height: 85px;
  animation-name: rotateAnim;
  -o-animation-name: rotateAnim;
  -ms-animation-name: rotateAnim;
  -webkit-animation-name: rotateAnim;
  -moz-animation-name: rotateAnim;
  animation-duration: 0.0175s;
  -o-animation-duration: 0.0175s;
  -ms-animation-duration: 0.0175s;
  -webkit-animation-duration: 0.0175s;
  -moz-animation-duration: 0.0175s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.loader div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.loader div:nth-child(odd) {
  border-top: none;
  border-left: none;
}
.loader div:nth-child(even) {
  border-bottom: none;
  border-right: none;
}
.loader div:nth-child(2) {
  border-width: 2px;
  left: 0;
  top: -3px;
  width: 10px;
  height: 10px;
}
.loader div:nth-child(3) {
  border-width: 2px;
  left: -1px;
  top: 3px;
  width: 15px;
  height: 15px;
}
.loader div:nth-child(4) {
  border-width: 3px;
  left: -1px;
  top: -3px;
  width: 20px;
  height: 20px;
}
.loader div:nth-child(5) {
  border-width: 3px;
  left: -1px;
  top: 3px;
  width: 27px;
  height: 27px;
}
.loader div:nth-child(6) {
  border-width: 3px;
  left: 0;
  top: -3px;
  width: 34px;
  height: 34px;
}
.loader div:nth-child(7) {
  border-width: 3px;
  left: 0;
  top: 5px;
  width: 42px;
  height: 42px;
}

@keyframes rotateAnim {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-o-keyframes rotateAnim {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0deg);
  }
}

@-ms-keyframes rotateAnim {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
  }
}

@-webkit-keyframes rotateAnim {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes rotateAnim {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}

/*Main state: main-stateSearch*/

.main-stateSearch .main__searchContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 628px;
  height: 74px;
  border-bottom: 2px solid #ffffff;
  border-radius: 2px;
  margin-top: 54px;
  box-sizing: border-box;
}

.main-stateSearch .searchContainer__searchForm {
  width: 502px;
  height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main-stateSearch .main__searchHistoryContainer {
  display: none;
}

.main-stateSearch .main__searchResultContainer {
  display: none;
}

.main-stateSearch .searchForm__crossSymbolContainer {
  display: none;
}

/*Main state: main-stateSearchActive*/
.main-stateSearchActive .main__searchContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  /*width: 1280px;*/
  height: 74px;
  border-bottom: 2px solid #fdce25;
  border-radius: 2px;
  margin-top: 54px;
  box-sizing: border-box;
}

.main-stateSearchActive .searchContainer__searchForm {
  width: 1280px;
  height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main-stateSearchActive .main__searchResultContainer {
  display: none;
}

.main-stateSearchActive .searchForm__crossSymbolContainer {
  display: none;
}

/*Main state: main-stateSearchNotFound*/
.main-stateSearchNotFound .main__searchContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  /*width: 1280px;*/
  height: 74px;
  border-bottom: 2px solid #fdce25;
  border-radius: 2px;
  margin-top: 54px;
  box-sizing: border-box;
}

.main-stateSearchNotFound .searchContainer__searchForm {
  width: 1280px;
  height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main-stateSearchNotFound .searchResultContainer_resultTitlePositive {
  display: none;
}

.main-stateSearchNotFound .searchResultContainer__resultContent {
  display: none;
}

/*Main state: main-stateSearchLive*/
.main-stateSearchLive .main__searchContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  /*width: 1280px;*/
  height: 74px;
  border-bottom: 2px solid #fdce25;
  border-radius: 2px;
  margin-top: 54px;
  box-sizing: border-box;
}

.main-stateSearchLive .searchContainer__searchForm {
  width: 1280px;
  height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main-stateSearchLive .searchResultContainer_resultTitleNegative {
  display: none;
}

/*Main state: main-stateSearchScroll*/
.main-stateSearchScroll .main__searchContainer {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  width: 100%;
  height: 74px;
  border-bottom: 2px solid #ffffff;
  border-radius: 2px;
  margin-top: 54px;
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
  background: rgba(28, 28, 28, 0.8);
  backdrop-filter: blur(4px);
}

.main-stateSearchScroll .searchContainer__searchForm {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main-stateSearchScroll .searchResultContainer_resultTitleNegative {
  display: none;
}

/*Film states*/
/*itemFull*/
.itemFull .attributeContainer_stub {
  display: none;
}

.resultContent_item:hover.itemFull .item_itemPoster {
  z-index: 0;
}

/*itemNoPoster*/
.itemNoPoster .item_itemPoster {
  display: none;
}

.itemNoPoster .resultContent_item__attributeContainer {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: revert;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
}

.itemNoPoster .attributeContainer_rate {
  opacity: 0;
}

.itemNoPoster .attributeContainer_stub {
  display: none;
}

.itemNoPoster .attributeContainer_itemName {
  color: rgba(255, 255, 255, 0.24);
}

.itemNoPoster .attributeContainer_genreAndYear {
  color: rgba(255, 255, 255, 0.24);
}

.resultContent_item:hover.itemNoPoster .attributeContainer_itemName {
  color: #ffffff;
}

.resultContent_item:hover.itemNoPoster .attributeContainer_rate {
  opacity: 1;
}

.resultContent_item:hover.itemNoPoster .attributeContainer_genreAndYear {
  color: rgba(255, 255, 255, 0.4);
}

/*itemStub*/
.itemStub .item_itemPoster {
  display: none;
}

.itemStub .resultContent_item__attributeContainer {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: revert;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
}

.itemStub .attributeContainer_rate {
  display: none;
}

.itemStub .attributeContainer_itemName {
  display: none;
}

.itemStub .attributeContainer_genreAndYear {
  display: none;
}

.itemStub .attributeContainer_stub {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  padding-left: 20px;
}

.itemStub .attributeContainer_stub span:nth-child(1) {
  height: 24px;
  width: 156px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
  margin-bottom: 68px;
}

.itemStub .attributeContainer_stub span:nth-child(2) {
  height: 24px;
  width: 246px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
  margin-bottom: 8px;
}
